In [2]:
%matplotlib inline

import pandas as pd

In [3]:
train = pd.read_csv('train.csv')

train.set_index('PassengerId', inplace=True)

In [4]:
train.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
train.apply(
    lambda args: args['Pclass'], axis=1
)

PassengerId
1      3
2      1
3      3
4      1
5      3
6      3
7      1
8      3
9      3
10     2
11     3
12     1
13     3
14     3
15     3
16     2
17     3
18     2
19     3
20     3
21     2
22     2
23     3
24     1
25     3
26     3
27     3
28     1
29     3
30     3
      ..
862    2
863    1
864    3
865    2
866    2
867    2
868    1
869    3
870    3
871    3
872    1
873    1
874    3
875    2
876    3
877    3
878    3
879    3
880    1
881    2
882    3
883    3
884    2
885    3
886    3
887    2
888    1
889    3
890    1
891    3
dtype: int64

In [4]:
train.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [7]:
train[~train['Cabin'].isnull()]['Cabin']

PassengerId
2              C85
4             C123
7              E46
11              G6
12            C103
22             D56
24              A6
28     C23 C25 C27
32             B78
53             D33
55             B30
56             C52
62             B28
63             C83
67             F33
76           F G73
89     C23 C25 C27
93             E31
97              A5
98         D10 D12
103            D26
111           C110
119        B58 B60
124           E101
125            D26
129          F E69
137            D47
138           C123
140            B86
149             F2
          ...
752           E121
760            B77
764        B96 B98
766            D11
773            E77
777            F38
780             B3
782            B20
783             D6
790        B82 B84
797            D17
803        B96 B98
807            A36
810             E8
816           B102
821            B69
824           E121
830            B28
836            E49
840            C47
850            C92
854            D28
858            E17
863            D17
868            A24
872            D35
873    B51 B53 B55
880            C50
888            B42
890           C148
Name: Cabin, dtype: object

In [ ]:
train[train['Survived'] == 1.0]['SibSp'].plot(
    kind = 'hist'
)

In [ ]:
train.plot(
    kind = 'scatter',
    x = 'Pclass',
    y = 'Survived'
)

In [ ]:
train.plot(
    kind = 'scatter',
    x = 'SibSp',
    y = 'Survived'
)

In [ ]:
train.plot(
    kind = 'scatter',
    x = 'Parch',
    y = 'Survived'
)

In [ ]:
train.plot(
    kind = 'scatter',
    x = 'Fare',
    y = 'Survived'
)

In [ ]:
train.plot(
    kind = 'scatter',
    x = train['Sex'].apply(lambda s: 1 if s == 'male' else 0),
    y = train['Survived']
)